{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <form action="{{ path('user_create') }}" method="POST">

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.roles) }}
            {% endif %}
            {{ form_row(form.password) }}
            {{ form_row(form._token) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        </form>
    </div>
{% endblock %}
